{% extends 'base_content.html' %}
{% block content %}
<div class="container" style="padding-top: 5%;">
    <h3>Past Reflections</h3> 
    {%if reflections%}
    {%for r in reflections%}
        <div class="card border-success mb-3">
            <div class="card-header">
                <i class="fa-solid fa-star"></i> {{r.plan_reflection.week_plan}}
            </div>
            <a href="{% url 'show_plan' r.plan_reflection.id%}" style="text-decoration:none">
                <div class="card-body text-success">
                <blockquote class="blockquote mb-1">
                    <p>{{r.carry_forward_reflection}}</p>
                    <footer class="blockquote-footer" style="font-size: 10pt">{{r.created_at}}</footer>
                </blockquote>
                </div>
            </a>
        </div>
    {%endfor%}
    {%else%}
    The reflections you make will appear here...
    <div style="padding:10px">Check out your <a href="{% url 'plans_list' %}">Plans</a> to start reflecting<div>
    {%endif%}
</div>
{% endblock %}

